body {
    background: rgb(62, 45, 193);
    font: normal 15px Arial;
    text-align: center;
}

header {
    color:white;
    text-align: center;

}

section {
    background: white;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
}
